{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=db;Port=5432;Database=courseplatform;Username=postgres;Password=postgres"
  },
  "Dev": {
    "Seed": true
  },
  "Frontend": {
    "BaseUrl": "http://localhost:5173"
  },
  "Cors": {
    "Origins": [ "http://localhost:5173" ]
  },
  "Elastic": {
    "Enabled": true,
    "Uri": "http://elasticsearch:9200",
    "CourseIndexName": "courseplatform-courses"
  },
  "SecurityHeaders": {
    "Csp": {
      "Development": "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data: https://placeholder.local; font-src 'self' data:; connect-src 'self' http://localhost:8080 ws://localhost:8080 http://localhost:5173; frame-ancestors 'none'; object-src 'none'; base-uri 'self'; form-action 'self';"
    }
  }
}
